/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 1024px) {
	#homemarketslinkbin {position:absolute !important; top:116px; left:0px; background-color:#fed501 !important; height:140px !important;}
	.homemarketslink a {text-decoration:none;}
	.homemarketslink a span {position:absolute; bottom:0px; left:0px; width:100%; padding:0px; margin:0px; text-align:center; font-weight:normal; color:#000; }
	.tabletonly {display:block !important;}
	.notablet {display:none !important;}
	.homepagetabletonly {display:block !important;}
	.homepagephoneonly {display:none;}
	#homepageawards{display:none;}
}

@media only screen and (max-width: 770px) {
	#header-image {height:450px !important; } 
	div#maxcontainerbin {background-color:#fff;}
	body {background-image:url(https://kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg); background-repeat:repeat;}
	#button {position:absolute; top:25px; right:20px; cursor:pointer;}
	#menu, #right { 
		display:inline;
	}
	#right {
		width:100%;
		background-color: #fff;
		z-index: 5;
		position: absolute; top:0px;
		left: 0px;
		height: 100%;
	}
	.nav_mobilesidebin {
		overflow:scroll;
		position:fixed; 
		right:0px;
		height: 100%;
		width:200px;
		margin:0px !important;
	}
	.nav_mobilesidebin ul {margin:0px !important;  padding-left:0px !important;}
	.nav_mobilesidebin .ccm-block-styles {position:relative;}
	#menu {position:absolute; top:0px; right:0px; }
	
	ul.nav_mobileside { margin:0px !important; padding:0px 0px 0px 0px !important; width:200px;}
	.nav_mobilesidebin li {position:relative; list-style:none; color:#fff; text-align:left; padding:0px 0px 0px 0px; border-top:1px solid #666; border-bottom:1px solid #000;
	}
	
	.nav_mobilesidebin li a {color:#fff; text-decoration:none; font-weight:bold; font-size:100%; text-transform:uppercase;  display:block;
		 border-bottom:1px solid #000; padding-left:15px !important; padding-top:12px; padding-bottom:10px; background-image:url(https://kiewit.com/themes/kiewit/images/black_bkgd.png); background-repeat:repeat;
	}
	.nav_mobilesidebin li ul li a {color:#fff; text-decoration:none; font-weight:bold; font-size:90%; text-transform: none; background-image:none !important; border:0px !important; padding-top:4px !important; padding-bottom:4px !important;}
	.nav_mobilesidebin li ul {padding-left:0px !important; border-top:1px solid #666; }
	.nav_mobilesidebin li ul li {border:0px !important; }
	.nav_mobilesidebin li ul li ul {border:0px !important; padding-left:40px !important; }
	.nav_mobilesidebin li ul li ul li {list-style:circle !important; margin-left:10px !important;}
	.nav_mobilesidebin li ul li ul li a {font-weight:normal !important; padding-left:0px !important; } 
	
	.nav_mobilesidebin li a.nav-selected, .nav_mobilesidebin li a.nav-path-selected, .nav_mobilesidebin li a:hover {color:#ffd300 !important;}
	#maxcontainerbin {-moz-box-shadow: -2px 0px 18px 1px #000000;
-webkit-box-shadow: -2px 0px 18px 1px #000000;
box-shadow: -2px 0px 18px 1px #000000;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = -2, direction = 90, color = '#000000');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = -2, Direction = 90, Color = '#000000')";}
	
.nav_mobilesidebin::-webkit-scrollbar {
	width: 0px !important; height:0px !important;
}
.nav_mobilesidebin::-webkit-scrollbar-button {
	width: 0px !important;
	height:0px !important;
}
.nav_mobilesidebin::-webkit-scrollbar-track {
	background: none;
	border:0px;
	box-shadow: 0px;
	border-radius:0px;
}
.nav_mobilesidebin ::-webkit-scrollbar-thumb {
	background:none;
	border:0px;
	border-radius:0px;
}
.nav_mobilesidebin ::-webkit-scrollbar-thumb:hover {
	background:none;
}			
	
	
	
	.nav_mobilesidebin li a:hover {color:#fff;}
	
	/* auto size images */
	img {
		max-width: 100%;
		height: auto !important;
	}
	.nomobile {display:none !important;}
	.mobileonly {display:block;}
	.tabletonly {display:none !important;}
	.featuredprojectinteriorfooter {margin-bottom:20px;}
	
	/* video scale controls - NOTES: make sure to 
	assign fluid-media class to divs on the site
	that encapsulate the videos you want scaled */ 
	audio[controls],
	canvas,
	video {
		display: inline-block;
		*display: inline;
		*zoom: 1; 
	}
	
	video {
	  width: 100%  !important;
	  height: auto !important;
	}
	
	.fluid-media {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin-bottom: 15px;
	}
	.fluid-media iframe,  
	.fluid-media object,  
	.fluid-media embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.vimeo-area, .youtubeBlock {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin-bottom: 15px;
	}
	.vimeo-area iframe,  
	.vimeo-area object,  
	.vimeo-area embed,
	.youtubeBlock iframe,  
	.youtubeBlock object,  
	.youtubeBlock embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	/* Make everything vertical and unfloated */
	#maxcontainerbin,   {
		float: none !important;
		width: auto !important;
	}
	#containerbin {width:100% !important;}
	#contentbin {width:100% !important;}
	
	div#columnbin {padding:0px 20px 0px 20px !important; float:none;}
	
	.verticaldivider { background-image:url(https://kiewit.com/themes/kiewit/images/fill.gif); background-repeat:repeat-y;}
	#logobin {position:relative !important; top:0px !important; left:0px !important; width: 80% !important; height: auto !important; margin:0 auto !important; padding:0px 0px 0px 0px !important;}
	
	.top-link, .nomobile {display:none !important;}
	.mobileonly {display:block !important;}
	.tabletonly {display:none !important;}
	
	
	.binw0 {width: auto; margin-top:25px !important;} /*full width column*/
	.binw1 {width: auto; margin-top:25px !important;} /*half width column*/
	.binw2 {width: auto; text-align:center !important; margin-bottom:40px !important;} /*third width column*/
	.binw3 {width: auto; text-align:center !important; margin-top:25px !important;} /*narrow columns for footer*/
	.binw4 {width: auto; text-align:center !important; margin-top:25px !important;} /*wide column for footer*/
	.binw5 {width: auto;} /*nav column*/
	.binw6 {width: auto; margin-top:25px !important;} /*2 col span*/
	.binw7 {width: auto; margin-top:25px !important;} /*dual content columns*/
	
	.dividerbin {height:2px; overflow:hidden; margin-bottom:35px !important;}
	
	/* format tableless form layout */
	.miniSurveyView label {
		float: none !important;
		width:100% !important;}
	.miniSurveyView input {float: none !important;}
	.miniSurveyView [type="text"]{width:100% !important; height:30px;}
	.miniSurveyView [type="tel"]{width:100% !important; height:30px;}
	.miniSurveyView [type="email"]{width:100% !important; height:30px;}
	.miniSurveyView select {width:100% !important; height:30px !important;}
	.miniSurveyView textarea {width:100% !important; height:120px; margin-bottom:20px !important;}
	
	.captcha {position:relative; padding-top:25px !important; border-top:2px dotted #ccc;}
	.radioPair label {display: block;
		float: left !important;
		width:auto !important;
		margin:0px 15px 15px 0px;}
	.radioPair input {display: block;
		float: left !important;
		width:auto !important;}
		
		
	.interiorpageheaderbin {width:90% !important;}	
	div#footerinteriorlinksinner {width:100% !important;}
	
	
	#breadcrumbbin {display:none;}
	.interiorpagequote {display:none;}
	#footerhomecopyrightbin { float:none !important; padding-left:24px !important;}
	#footerinteriorlinksbin {height:auto !important; background-image: url(https://kiewit.com/themes/kiewit/images/fill.gif); background-color:#000;}
	
	/*.featuredprojectinteriorfooter .featuredprojectimg {float:none !important; margin:0 auto !important;}
	 .featuredprojectinteriorfooterleftbin {float:none !important; margin-top:0px !important; margin-bottom:10px !important;}*/
	 .featuredprojectinteriorfooterleftbin {text-align:left;}
	 
	.mobileonly ul li {float:none !important;}
	.mobileonly ul li a {float:none !important; padding-left:0px;}
	.yellowsidebarcontent img {display:none !important;} 
	.searchfield_searchpage {width:auto;}
	
	#navbarbin {float:none !important;}
	#navbarbin.mobileonly {width:100% !important; z-index:1000;}
	.mobileonly select#mobilegoto {background-color:#ffce00 !important; width:100% !important; -moz-appearance:none !important; -webkit-appearance: none !important; border:0px; color:#000; height:40px; font-size:120%; 
	margin:0px !important; padding:0px 0px 0px 25px !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/}
	.navheader {position:relative; padding:5px 0px 3px 0px; margin:0px; text-align:center; font-size:90%; font-weight:bold; width:100%; background-color:#000; color:#fff;}
	.plp_leftsidebar .projectlanding_infobin {width:100% !important;}
	.plp_leftsidebar .project-desc-scroll {width:90% !important;}
	iframe {width:100% !important;}
	
	.homepagelogo {float:none !important;}
	.igc_billboard_item {display:block; background-image:url(https://kiewit.com/themes/kiewit/images/black_bkgd_billboard.png); background-repeat:repeat !important;}
	.homeslidepieces {background:none !important; position:absolute !important; left:0px !important; top:440px;}
	.footeraccordions {position:relative; width:100% !important; padding:0px; margin:620px 0px 0px 0px; background-image:url(https://kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg); background-repeat:repeat; 
		-moz-box-shadow: inset 0px 3px 5px #262626;
		-webkit-box-shadow: inset 0px 3px 5px #262626;
		box-shadow: inset 0px 3px 5px #262626;}
	.footeraccordions ul {
		position: relative;
		list-style: none !important;
		margin: 0px !important;
		padding: 0px !important;
		}
	.footeraccordions ul li a {
		position: relative;
		color: #fff !important;
		font-size: 85%;
		text-decoration: none;
		display: block;
		padding: 8px 0px;
		margin: 0px;
		font-weight: bold;
		}
		
	div#footerbinhome {position:relative; height:auto !important; text-align:center;}
	
	.homemarketslinkbin-hdr {position:relative; padding:5px 0px; margin:0px; background-color:#000; text-align:center; font-weight:bold; color:#fff;}
	#homemarketslinkbin {position:relative !important; top:auto !important; left:auto !important; background:none !important; background-color:#fed501 !important; height:290px !important; margin:0px 0px 10px 0px !important;}
	.homemarketslink {position:relative; margin:0px !important; width:33% !important; background-color:#fed501 !important; float:left !important;}
	.homemarketslink a {position:relative; text-align:center; margin:0px !important; background-repeat:no-repeat !important; background-position:center center; width:100% !important; text-decoration:none;}
	.homemarketslink a span {position:absolute; bottom:0px; left:0px; width:100%; padding:0px; margin:0px; text-align:center; font-weight:normal; color:#000; }
	#homepagearrows {display:none !important;}
	
	#homemarketsbuilding,#homemarketsmining,#homemarketsoil,#homemarketspower,#homemarketstransportation,#homemarketswater {width:100% !important;}
	
	#footerbinhome {background-color:#000 !important;}
	#searchbin {z-index:1000;}
	
	
	#footerhomesocialmediabin {float:none !important; margin:0 auto !important; display:none;}
	
	.mgn-b--15 {margin-bottom:-15px !important;}
	#footerinteriorlinksbin {padding-bottom:20px !important;}
	
	
	.ccm-page-right, .ccm-page-left {display:none;}
	.ccm-pagination a, .currentPage {
		font-size:150%;
		padding: 5px 8px;
	}
	div#snavbin ul li {
		width: 100%;
	}
	#maxcontainerbin h1 {font-size:140% !important;}

	/* TMP Careers Mobile Site Integration */
	#page
	{
		width: 100%;
		max-width: 640px;
		padding: 0;
		position:relative;
	}
	
	#page h1 {
		font-size: 3.15em;
		font-weight:bold;
		color: #ffcd10;
		padding:0;
		margin:10px 0;
		display:inline-block;
		text-indent:-9999px;
		height:28px;
	}
	
	#page.who-we-are h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-who-we-are.png) top left no-repeat;
		width:199px;
	}

	#page.leadership h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-leadership.png) top left no-repeat;
		width:179px;
	}
	
	#page.history h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-history.png) top left no-repeat;
		width:128px;
	}	
	
	#page.values h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-values.png) top left no-repeat;
		width:112px;
	}		
	
	
	#page.how-we-operate h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-how-we-operate.png) top left no-repeat;
		width:271px;
	}		
	
	#page.awards h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-awards.png) top left no-repeat;
		width:129px;
	}		
	
	
	#page.why-work-here h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-why-work-here.png) top left no-repeat;
		width:276px;
	}

	#page.employee-owned h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-employee-owned.png) top left no-repeat;
		width:271px;
	}

	#page.culture h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-culture.png) top left no-repeat;
		width:130px;
	}

	#page.people-video-library h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-employee-thoughts.png) top left no-repeat;
		width:322px;
	}

	#page.benefits h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-benefits.png) top left no-repeat;
		width:138px;
	}

	#page.community h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-community.png) top left no-repeat;
		width:185px;
	}

	#page.relocation-and-assistance h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-relocation-and-assistance.png) top left no-repeat;
		width:378px;
	}

	#page.who-we-hire h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-who-we-hire.png) top left no-repeat;
		width:206px;
	}

	#page.experienced h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-experienced.png) top left no-repeat;
		width:294px;
	}

	#page.skilled-craft h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-skilled-craft.png) top left no-repeat;
		width:227px;
	}

	#page.new-grad h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-new-grad.png) top left no-repeat;
		width:161px;
	}

	#page.intern-co-op h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-intern-co-op.png) top left no-repeat;
		width:334px;
	}

	#page.where-do-you-fit h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-where-do-you-fit.png) top left no-repeat;
		width:300px;
	}

	#page.what-you-will-work-on h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-what-you-will-work-on.png) top left no-repeat;
		width:354px;
	}

	#page.markets h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-markets.png) top left no-repeat;
		width:145px;
	}

	#page.project-gallery h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-project-gallery.png) top left no-repeat;
		width:267px;
	}

	#page.how-you-will-grow h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-how-you-will-grow.png) top left no-repeat;
		width:281px;
	}

	#page.kiewit-university h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-kiewit-university.png) top left no-repeat;
		width:292px;
	}

	#page.career-development h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-career-development.png) top left no-repeat;
		width:339px;
	}

	#page.find-your-job h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-find-your-job.png) top left no-repeat;
		width:220px;
	}

	#page.recruiting-process h1 { 
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/h-recruiting-process.png) top left no-repeat;
		width:321px;
	}
	
	.article { 
		 text-align:left;
		 /*padding:0 30px;*/
		 margin:0;
		 float:left;
		 position:relative;
	 }
	 
	 .article img
	 {
		border:1px solid #000;
		width:100%;
	 }
	 
	 .article p { 
		font-size:1.5em !important;  
		color:#fff; 
		padding:0; 
		margin:0; 
		line-height:28px;
		font-weight:bold;
	 }
	 
	 ul#primary-nav { 
		padding:0; 
		margin:30px 0 0 0; 
		text-align:left; 
		list-style:none; 
	 }
	 
	ul#primary-nav li {  
		font-size:11px; 
		font-weight:normal; 
		color:#474243; 
		padding:0; 
		margin:0 0 40px 0;
		line-height:16px;
	 }
	 
	 
	ul#primary-nav li h2 {  
		text-transform:uppercase;
		font-size: 1.6em;     /* 20p x */
		padding:0;
		margin:5px 0;
		color:#ffcd10;
		display:block;
		font-weight:bold;
	 }	 
	 
	ul#primary-nav li p { 
	padding-right:18%;
	 }
	 
	a.btn-more:link,
	a.btn-more:active,
	a.btn-more:visited { 
		font-size:20px; 
		font-weight:bold; 
		color:#ffcd10; 
		padding:0 25px 0 0; 
		margin:0;
		text-decoration:none;
		background:url(https://kiewit.com/themes/kiewit/elements/careers/m/img/arrow-#FFCD10.png) 65px 3px no-repeat;
		display:inline-block;
		text-transform:uppercase;
		float:right !important;
	 }		
	 
	 #mobile-careers-nav {
		position: relative;
		margin: 0px;
		background-image: url('https://kiewit.com/themes/kiewit/images/snavbin_bkgdimg.jpg');
		background-repeat: repeat;
		font-family: Arial, Helvetica, sans-serif;
	 }
	 
	 #mobile-careers-nav ul {
		list-style-type: none;
		margin: 20px 0;
	 }
	 
	 #mobile-careers-nav ul li {
		 padding: 0 0 0 30px;
	 }
	 
	 #mobile-careers-nav ul li:hover {
	 	color: #3e3e3e !important;
		background-color: #ffcd21;
		line-height: 1.3;
		font-weight: bold;
	 }
	 
	 #mobile-careers-nav ul li a {
		position: relative;
		color: #fff;
		text-decoration: none;
		margin: 0px;
		padding: 8px 15px 7px 27px;
		font-size: 80%;
		line-height: 1.3;
		font-weight: bold;
		display: block;
	 }
	 #mobile-careers-nav ul li:hover {
	 	color: #3e3e3e !important;
		background-color: #ffcd21;
		line-height: 1.3;
		font-weight: bold;
	 }
	 
	 #who-we-are h1 { 
		background:url(https://kiewit.com/themes/kiewit//themes/kiewit/elements/careers/m/img/h-who-we-are.png) top left no-repeat;
		width:199px;
	}
	
	.nophone {float:left !important; width:40%; text-align:left !important;}
	.nophonedisplay {display:block;}
	.notabletportrait {display:none !important;}
	.featuredprojectinteriorfooterleftbin {width:180px;}
	.yellowsidebarbin {display:none;}
	.homepagephoneonly {display:none !important;}
	.homepagetabletonly {display:block !important;}
	#homepageawards{display:none;}
	
}
@media only screen and (max-width: 600px) { 
	#header-image {height:315px !important; } 
	#homemarketslinkbin {margin:85px 0px 10px 0px !important;}
	.footeraccordions {margin:518px 0px 0px 0px !important;}
	.homeslidepieces {top:215px !important;}
	.nophone {display:none !important;}
	.nophonedisplay {display:none !important;} 
	.notabletportrait {display:none !important;}
	#columndivider {display:none;}
	#footerhomecopyrightbin { text-align:center;}
	#footerhomelinksbin {float:none !important; margin:0 auto !important; padding-bottom:15px !important;}
	#footerhomelinksbin ul li, #footerinteriorlinksinner  ul li {float:none !important; margin:0 auto !important; line-height: 30px !important; text-align:center !important;}
	#footerhomelinksbin ul li a, #footerinteriorlinksinner  ul li a {padding:0px !important;}
	.homepagephoneonly {display:block !important;}
	.homepagetabletonly {display:none !important;}
 	.igc_billboard_item {display:none !important;}
	#homepageawards{display:none;}
	}