/*********Typography********/
P {margin:0px 0px 15px 0px; padding:0px;}

body
{
	font-size: 90%;
	line-height: 1.5;
	font-family: Arial, sans-serif;
	font-weight:normal;
	color:#222222;
}

h1, h2, h3, h4, h5, h6
{
	line-height: 1.5;
	margin:0px; padding:0px;
	font-weight:normal;
	color:#333333;
}

 h1 { font-family: Arial, Helvetica, sans-serif; font-size: 235%; line-height: 1.0; margin-bottom:10px; text-transform:uppercase; font-weight:bold;}
 h2 { font-size:160%; line-height: 1.0; margin-bottom:10px; text-transform:uppercase; font-weight:bold;}
 h3 { font-size: 100%; font-weight:bold;}
 h4 { font-size: 110%; }
 h5 { font-size: 100%; }
 h6 { font-size: 70%; }

.clr_white {color:#ffffff !important;}
.clr_yellow {color:#ffcd21 !important;}
.clr_drkyellow {color:#d7ac19 !important;}
.clr_black {color:#3e3e3e !important;}

.boldfont {font-weight:bold !important;}
.uppercasefont {text-transform:uppercase;}

.navbullet {margin:0px; padding:0px 0px 0px 20px; background-image:url(https://kiewit.com/themes/kiewit/images/nav_arrow.png); background-repeat:no-repeat; color:#3e3e3e; text-decoration:none;}
.navbullet:hover {color:#676767; text-decoration:underline;}

.textlinkwhite {color:#fff !important; text-decoration:underline; }
.textlinkwhite:hover { text-decoration:none !important;}

.textlinksmyellow {color:#d7ac19 !important; text-decoration:underline; }
.textlinksmyellow:hover { text-decoration:none !important;}

.textlinkyellow {color:#d7ac19 !important; text-decoration:none; font-weight:bold; font-size:110%; background-image:url(https://kiewit.com/themes/kiewit/images/textlinkyellow.png); background-repeat:no-repeat; background-position:right; padding-right:15px;}
.textlinkyellow:hover { text-decoration:underline !important;}


.featuredprojectlink {position:relative; margin:0px; padding:0px; text-decoration:none; color:#ffd500; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:85%;}
.featuredprojectlink:hover {color:#fff !important;}

.sscript {position:relative; font-size:50%; top : -.6em;}


 .yellowbutton {color:#3e3e3e; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background-color:rgba(255,205,33,0.6); padding:9px 20px 9px 20px;}
 .yellowbutton:hover {background-color:rgba(239,185,1,1.0) !important;}
  
.yellowsidebarbutton {color:#3e3e3e; font-weight:bold; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; padding:18px 26px 18px 26px; background-image:url(https://kiewit.com/themes/kiewit/images/yellowsidebarbtn.jpg); background-repeat:repeat; display:block; text-decoration:none !important; text-align:center !important;}
.yellowsidebarbutton:hover {background-image:url(https://kiewit.com/themes/kiewit/images/yellowsidebarbtn_over.jpg); color:#fff !important;}

.padleft {padding-left:10px !important;}
.padright {padding-right:10px !important;}

.buttonstyle {
	position: relative;
	color:#3e3e3e; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background-color:rgba(239,185,1,0.6); padding:9px 20px 9px 20px; text-decoration:none;
	line-height:1em;
	font-size:80%;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-align:center;
	white-space: nowrap;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin:0px;
}
.buttonstyle:hover, .buttonstyle.hover {
	background-color:rgba(239,185,1,1.0) !important; color:#3e3e3e;
}
.buttonstyle:active, .buttonstyle.active {
	background-color:rgba(239,185,1,1.0) !important; color:#3e3e3e;
}
.buttonstyle:visited, .buttonstyle.visited {
	background-color:rgba(239,185,1,1.0) !important; color:#3e3e3e;
}