/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  font-family: sans-serif; }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
button, input, select, textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p, pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl, menu, ol, ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu, ol, ul {
  padding: 0; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure, form {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type='button'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled] {
  cursor: default; }

input[disabled] {
  cursor: default; }
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }
  input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0 0 18px; }

fieldset {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  color: #444;
  font-weight: 300; }

/* clearfix */
.clearfix:before {
  display: table;
  content: ''; }
.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.clear {
  clear: both; }

.clearfix {
  *zoom: 1; }

img {
  max-width: 100%;
  vertical-align: bottom; }

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* wrapper */
.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative; }

::selection, ::-webkit-selection, ::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none; }

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px; }

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }
  .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto; }
  .wp-caption .wp-caption-text {
    font-size: 80%;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }

.gallery-caption {
  font-size: 80%;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: ' (' attr(href) ')'; }

  abbr[title]:after {
    content: ' (' attr(title) ')'; }

  .ir a:after {
    content: ''; }

  a[href^='javascript:']:after, a[href^='#']:after {
    content: ''; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }
 }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important; }

ng\:form {
  display: block; }

/* Automatically included across all of c5 - use this file gingerly */
img.ccm-captcha-image {
  display: block; }

/* clear and pagination styles */
*.ccm-spacer {
  clear: both;
  font-size: 1px;
  line-height: 1px; }

div.ccm-pagination {
  text-align: center;
  position: relative; }
  div.ccm-pagination span {
    margin-right: 4px; }
    div.ccm-pagination span.ccm-page-right {
      position: absolute;
      top: 0px;
      right: 0px;
      margin-right: 0px !important; }
      div.ccm-pagination span.ccm-page-right span {
        margin-right: 0px; }
    div.ccm-pagination span.ccm-page-left {
      position: absolute;
      top: 0px;
      left: 0px; }

.ccm-ui div.ccm-pagination span {
  margin-right: 0px; }

/* Extra pagination styling to make code generated by C5 pagination helper look nice */
div.pagination ul strong, div.pagination ul span.ltgray {
  display: block;
  padding: 0 14px;
  float: left;
  line-height: 34px;
  border-right: 1px solid #DDD;
  text-decoration: none; }

/* Layout */
/*
.ccm-layout .ccm-layout-cell{ overflow:hidden; }
*/
.ccm-layout-table .ccm-layout-col {
  float: left; }

.ccm-layout .first .ccm-layout-col-spacing {
  margin-left: 0px !important; }
.ccm-layout .last .ccm-layout-col-spacing {
  margin-right: 0px !important; }

/* global error styles */
.ccm-error {
  font-weight: bold;
  color: #f00; }

.ccm-required {
  font-weight: bold;
  color: #3975AD; }

div#ccm-overlay {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  display: none; }

.ccm-input-time-wrapper select {
  width: 55px !important;
  margin-right: 4px !important; }

.ccm-input-date {
  width: 80px !important;
  margin-right: 4px !important; }

#blockStyle114Main4, #blockStyle2841Main24 {
  background-repeat: no-repeat; }

.tnSpacer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  clear: both; }

/*********Typography********/
P {
  margin: 0px 0px 15px 0px;
  padding: 0px; }

body {
  font-size: 90%;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #222222; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  color: #333333; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 235%;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold; }

h2 {
  font-size: 160%;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold; }

h3 {
  font-size: 100%;
  font-weight: bold; }

h4 {
  font-size: 110%; }

h5 {
  font-size: 100%; }

h6 {
  font-size: 70%; }

.clr_white {
  color: #ffffff !important; }

.clr_yellow {
  color: #ffcd21 !important; }

.clr_drkyellow {
  color: #d7ac19 !important; }

.clr_black {
  color: #3e3e3e !important; }

.boldfont {
  font-weight: bold !important; }

.uppercasefont {
  text-transform: uppercase; }

.navbullet {
  margin: 0px;
  padding: 0px 0px 0px 20px;
  background-image: url(../images/nav_arrow.png);
  background-repeat: no-repeat;
  color: #3e3e3e;
  text-decoration: none; }
  .navbullet:hover {
    color: #676767;
    text-decoration: underline; }

.textlinkwhite {
  color: #fff !important;
  text-decoration: underline; }
  .textlinkwhite:hover {
    text-decoration: none !important; }

.textlinksmyellow {
  color: #d7ac19 !important;
  text-decoration: underline; }
  .textlinksmyellow:hover {
    text-decoration: none !important; }

.textlinkyellow {
  color: #d7ac19 !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  background-image: url(../images/textlinkyellow.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px; }
  .textlinkyellow:hover {
    text-decoration: underline !important; }

.featuredprojectlink {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #ffd500;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 85%; }
  .featuredprojectlink:hover {
    color: #fff !important; }

.sscript {
  position: relative;
  font-size: 50%;
  top: -0.6em; }

.yellowbutton {
  color: #3e3e3e;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 205, 33, 0.6);
  padding: 9px 20px 9px 20px; }
  .yellowbutton:hover {
    background-color: #efb901 !important; }

.yellowsidebarbutton {
  color: #3e3e3e;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding: 18px 26px 18px 26px;
  background-image: url(../images/yellowsidebarbtn.jpg);
  background-repeat: repeat;
  display: block;
  text-decoration: none !important;
  text-align: center !important; }
  .yellowsidebarbutton:hover {
    background-image: url(../images/yellowsidebarbtn_over.jpg);
    color: #fff !important; }

.padleft {
  padding-left: 10px !important; }

.padright {
  padding-right: 10px !important; }

.buttonstyle {
  position: relative;
  color: #3e3e3e;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(239, 185, 1, 0.6);
  padding: 9px 20px 9px 20px;
  text-decoration: none;
  line-height: 1em;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  outline: none;
  overflow: visible;
  /* removes extra side padding in IE */
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
      user-select: none;
  margin: 0px; }
  .buttonstyle:hover, .buttonstyle.hover, .buttonstyle:active, .buttonstyle.active, .buttonstyle:visited, .buttonstyle.visited {
    background-color: #efb901 !important;
    color: #3e3e3e; }

html {
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px; }

br {
  padding: 0px;
  margin: 0px; }

div#maxcontainerbin {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%; }
div#headerbin {
  position: relative;
  width: 100%;
  height: 72px;
  padding: 0px;
  margin: 0px;
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important; }
div#logobin {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: left;
  float: left; }
div#searchbin {
  position: relative;
  margin: 0px;
  padding: 0px;
  float: right; }

.searchbutton:hover {
  background-image: url(../images/search_icon_hover.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 17px; }

/* ///// CONCRETE5 TOP NAV STYLING ///// */
div#navbarbin {
  position: relative;
  margin: 0px;
  padding: 0px;
  float: left; }
  div#navbarbin ul {
    position: relative;
    list-style: none;
    margin: 0px !important;
    height: 72px;
    padding: 0px !important;
    display: block; }
    div#navbarbin ul li {
      position: relative;
      margin: 0px;
      padding: 0px;
      height: 72px;
      float: left;
      text-align: center; }
      div#navbarbin ul li a {
        position: relative;
        color: #ffffff;
        text-decoration: none;
        display: block;
        font-size: 85%;
        height: 72px;
        line-height: 77px !important;
        padding: 0px 16px;
        margin: 0px;
        text-transform: uppercase;
        font-weight: bold; }
        div#navbarbin ul li a:hover {
          color: #ffce00 !important; }
        div#navbarbin ul li a.current-menu-item {
          position: relative;
          color: #ffce00 !important;
          text-decoration: none;
          display: block;
          font-size: 85%;
          height: 72px;
          padding: 0px 16px;
          margin: 0px; }
      div#navbarbin ul li.current-menu-item a {
        position: relative;
        color: #ffce00 !important;
        text-decoration: none;
        display: block;
        font-size: 85%;
        height: 72px;
        padding: 0px 16px;
        margin: 0px; }

/* ///// FLYOUT MENU STYLING ///// */
#navbarbin ul li ul {
  position: absolute;
  top: 72px !important;
  left: 0px;
  display: none;
  z-index: 100;
  width: 178px; }
#navbarbin li ul li {
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style: none;
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
  height: 28px !important;
  line-height: 28px !important;
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important; }
#navbarbin ul li ul li a {
  color: #ffd500 !important;
  text-decoration: none;
  text-align: left !important;
  height: 28px !important;
  line-height: 28px !important;
  display: block; }
  #navbarbin ul li ul li a:hover {
    color: #3e3e3e !important;
    background-color: #ffd500 !important;
    height: 28px !important;
    line-height: 28px !important; }
  #navbarbin ul li ul li a.current-menu-item {
    color: #3e3e3e;
    height: 28px !important;
    line-height: 28px !important; }
#navbarbin ul li ul li.current-menu-item a {
  color: #3e3e3e;
  height: 28px !important;
  line-height: 28px !important; }
#navbarbin li ul li ul {
  display: none !important; }

#header-image {
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  width: 100%;
  clear: both;
  height: 100%;
  background-repeat: no-repeat;
  background-color: #333333; }

#billboardoverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  clear: both;
  height: 100%;
  margin-bottom: 0px; }

#igc_billboard {
  margin: 0px;
  padding: 0px; }

.homeslidepieces {
  position: fixed;
  top: 41%;
  left: 0px;
  width: 100%;
  background-image: url(../images/black_bkgd_billboard.png);
  background-repeat: repeat !important; }

.slidedetail {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  height: 115px; }
  .slidedetail h2 {
    color: #fff !important;
    text-align: left;
    font-weight: bold; }
  .slidedetail h3 {
    color: #fff !important;
    text-align: left;
    font-weight: bold;
    line-height: 1.3 !important; }
    .slidedetail h3 a {
      text-decoration: none;
      color: #fff !important; }
      .slidedetail h3 a:hover {
        text-decoration: underline !important; }

.slidedetail-inner {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 500px;
  margin: 0px; }

#homemarketslinkbin {
  position: absolute;
  top: 0px;
  left: 550px;
  margin: 0px;
  padding: 0px;
  height: 115px;
  width: 100%;
  background-color: #fed501; }

.homemarketslink {
  position: relative;
  margin: 0px;
  padding: 0px; }

#homemarketsbuilding {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/homemarket_building2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/homemarket_building2.jpg', sizingMethod='scale')";
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_building2.jpg);
  background-size: 114px 115px;
  background-position: center center;
  width: 114px !important;
  height: 115px !important;
  float: left;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }

#homemarketsmining {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_mining2.jpg);
  background-size: 114px 115px;
  background-position: center center;
  width: 114px !important;
  height: 115px !important;
  float: left;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }

#homemarketsoil {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_oil2.jpg);
  background-size: 114px 115px;
  background-position: center center;
  width: 114px !important;
  height: 115px !important;
  float: left;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }

#homemarketspower {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_power2.jpg);
  background-size: 114px 115px;
  background-position: center center;
  width: 114px !important;
  height: 115px !important;
  float: left;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }

#homemarketstransportation {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_transportation2.jpg);
  background-size: 114px 115px;
  background-position: center center;
  width: 114px !important;
  height: 115px !important;
  float: left;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }

#homemarketswater {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_water2.jpg);
  background-size: 114px 115px;
  background-position: center center;
  width: 114px !important;
  height: 115px !important;
  float: left;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }

#homemarketsbuildingpu {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_building_pu.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsminingpu {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_mining_pu.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsoilpu {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_oil_pu.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketspowerpu {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_power_pu.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketstransportationpu {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_transportation_pu.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketswaterpu {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_water_pu.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsbuildingpu:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_building_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsminingpu:hover {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_mining_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsoilpu:hover {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_oil_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketspowerpu:hover {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_power_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketstransportationpu:hover {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_transportation_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketswaterpu:hover {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_water_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsbuildingpu.active {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_building_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsminingpu.active {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_mining_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsoilpu.active {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_oil_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketspowerpu.active {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_power_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketstransportationpu.active {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_transportation_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketswaterpu.active {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/homemarket_water_pu_at.png);
  width: 54px !important;
  height: 55px !important;
  float: left; }

#homemarketsbuilding:hover {
  background-image: url(../images/homemarket_building_hover.jpg); }

#homemarketsmining:hover {
  background-image: url(../images/homemarket_mining_hover.jpg); }

#homemarketsoil:hover {
  background-image: url(../images/homemarket_oil_hover.jpg); }

#homemarketspower:hover {
  background-image: url(../images/homemarket_power_hover.jpg); }

#homemarketstransportation:hover {
  background-image: url(../images/homemarket_transportation_hover.jpg); }

#homemarketswater:hover {
  background-image: url(../images/homemarket_water_hover.jpg); }

#homepagearrows {
  position: relative;
  margin-top: 1px;
  cursor: pointer;
  width: 101px; }

#homepagearrowsleft {
  position: relative;
  margin: 0px 1px 0px 0px;
  padding: 0px;
  background-image: url(../images/arrow_left.png);
  width: 50px !important;
  height: 49px !important;
  float: left; }

#homepagearrowsright {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/arrow_right.png);
  width: 50px !important;
  height: 49px !important;
  float: left; }

#homepagearrowsleft:hover {
  background-image: url(../images/arrow_left_hover.png); }

#homepagearrowsright:hover {
  background-image: url(../images/arrow_right_hover.png); }

div#searchbin {
  position: relative;
  width: 50px;
  height: 72px;
  margin: 8px 0px 0px 0px;
  padding: 0px; }
  div#searchbin .searchbutton {
    position: absolute;
    top: 11px;
    left: 11px;
    margin: 0px;
    padding: 0px; }
div#searchfieldbin {
  position: absolute;
  top: -5px;
  right: 8px;
  width: 246px;
  height: 43px;
  margin: 0px;
  padding: 0px;
  display: none; }
  div#searchfieldbin .searchfield {
    position: absolute;
    top: 9px;
    left: 30px;
    width: 170px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 85%;
    color: #fff;
    background-color: transparent !important;
    border: 0px;
    border-bottom: 1px solid #ffce00; }
  div#searchfieldbin .closesearchbtn {
    position: absolute;
    top: 17px;
    left: 7px;
    width: 12px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer; }

.opensearchbtn {
  position: absolute;
  top: -3px;
  right: 11px;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  cursor: pointer; }

.searchfield_searchpage {
  position: relative;
  width: 350px;
  height: 25px;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 85%;
  color: #fff;
  background-color: transparent !important;
  border: 0px;
  border-bottom: 1px solid #ffce00; }

.formfieldstyle {
  position: relative;
  height: 25px;
  margin: 0px;
  padding: 0px 0px 0px 8px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-style: italic !important;
  font-size: 85% !important;
  color: #fff !important; }

.interiormainbin .searchfield_searchpage {
  color: #3e3e3e !important; }

#searchResults a {
  color: #d7ac19; }
  #searchResults a:hover {
    text-decoration: none !important; }

.searchpage_color h4 {
  color: #3e3e3e !important; }

#header-image-interior {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  clear: both;
  height: 225px;
  background-repeat: no-repeat;
  background-size: cover; }

.ccm-random-image img {
  display: none; }

#billboardoverlayinterior {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  clear: both;
  height: 100%;
  margin-bottom: 0px;
  height: 225px;
  box-shadow: inset 0px -3px 7px #3e3e3e;
  /*Inner elements should not cover inner shadows*/
  /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/ }

.interiorpageheaderbin {
  position: relative;
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
  height: 113px; }

.interiorpageheadline {
  position: relative;
  text-align: left;
  padding: 0px; }
  .interiorpageheadline h1 {
    color: #fff !important; }
    .interiorpageheadline h1 a {
      color: #fff;
      text-decoration: none; }

.interiorpageheaderinner {
  position: relative;
  float: left;
  color: #fff; }

.interiorpagequote {
  position: relative;
  width: 338px;
  float: right;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8; }

div#containerbin {
  position: relative;
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 0px; }

/* ///// MOBILE NAV TOGGLE BUTTON ///// */
#menu-icon {
  display: none; }

/* ///// CONCRETE5 TOP NAV STYLING ///// */
/* ///// CONCRETE5 SIDEBAR NAV STYLING ///// */
div#snavbin {
  position: relative;
  margin: 0px;
  padding: 0px; }
  div#snavbin ul {
    position: relative;
    list-style: none !important;
    margin: 0px 0px 12px 0px;
    padding: 0px; }
    div#snavbin ul li {
      position: relative;
      margin: 0px 0px 2px 0px;
      padding: 0px;
      width: 238px; }
      div#snavbin ul li a {
        position: relative;
        color: #fff;
        text-decoration: none;
        margin: 0px;
        padding: 8px 15px 7px 27px;
        font-size: 80%;
        line-height: 1.3;
        font-weight: bold;
        display: block; }
        div#snavbin ul li a:hover, div#snavbin ul li a.current-menu-item, div#snavbin ul li a.current-menu-item {
          color: #3e3e3e !important;
          background-color: #ffcd21;
          line-height: 1.3;
          font-weight: bold; }
      div#snavbin ul li.current-menu-item {
        color: #fff; }
      div#snavbin ul li ul {
        margin: 5px 0px 7px 0px; }
        div#snavbin ul li ul li {
          margin: 0px; }
          div#snavbin ul li ul li a {
            padding-left: 47px !important; }
            div#snavbin ul li ul li a.current-menu-item, div#snavbin ul li ul li a.current-menu-item {
              color: #ffcd21 !important;
              background-color: transparent !important;
              line-height: 1.2; }
          div#snavbin ul li ul li ul li a {
            padding-left: 60px !important; }

/* ///// CONCRETE5 SIDEBAR NAV STYLING ///// */
.padbtm15 {
  padding-bottom: 15px !important; }

.quicklinksnav {
  background-image: url(../images/sitemap_button.png);
  background-repeat: no-repeat;
  background-position: 10px 10px; }
  .quicklinksnav a {
    color: #000;
    text-decoration: none;
    margin: 0px;
    font-size: 80%;
    display: block;
    line-height: 1.3 !important;
    padding: 7px 20px 7px 27px !important;
    height: auto !important;
    font-weight: bold; }
    .quicklinksnav a:hover {
      color: #3e3e3e !important;
      background-color: #ffcd21; }

.projectdetailpage .snavbinheader p {
  color: #ffcd21 !important;
  font-size: 100% !important;
  line-height: 1 !important;
  padding: 3px 56px 4px 0px; }

.leftcolumn {
  width: 238px;
  float: left; }

.snavbinoutter {
  position: relative;
  margin: 0px;
  padding: 0px 0px 3px 0px;
  background-image: url(../images/snavbin_bkgdimg.jpg);
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif; }
  .snavbinoutter ul {
    position: relative;
    list-style: none !important;
    margin: 0px 0px 12px 0px;
    width: 238px;
    padding: 0px; }

.snavbinheader {
  position: relative;
  margin: 0px 0px 13px 0px;
  padding: 18px 26px 1px 26px;
  color: #ffcd21;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 105%;
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important; }

.interiormainbin h3 {
  text-transform: uppercase;
  color: #3e3e3e !important;
  margin-bottom: 10px !important; }
.interiormainbin p {
  color: #3e3e3e;
  font-size: 85%;
  line-height: 1.9; }

.miniSurveyView .required {
  color: #3e3e3e; }

.yellowsidebarbin {
  position: relative;
  margin: 0px;
  padding: 0px 0px 3px 0px;
  background-image: url(../images/yellowsidebar_bkgdimg.jpg);
  background-repeat: repeat !important;
  font-family: Arial, Helvetica, sans-serif; }

.yellowsidebarheadline {
  position: relative;
  margin: 0px 0px 13px 0px !important;
  padding: 18px 26px 15px 26px !important;
  color: #3e3e3e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 105%;
  background-image: url(../images/yellow_bkgd.png);
  background-repeat: repeat !important; }

.yellowsidebarcontent {
  position: relative;
  margin: 0px;
  padding: 0px 22px 15px 26px;
  font-size: 85%; }

/* ///// FEATURED PROJECTS DESIGNER CONTENT BLOCK CODE ///// */
.featuredprojecthomepagepopupmain {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: #1e1e1e;
  width: 464px !important; }
  .featuredprojecthomepagepopupmain .featuredprojectnamelocation {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 85%;
    float: left; }
  .featuredprojecthomepagepopupmain .featuredprojectlink a {
    position: relative;
    margin: 0px;
    margin-right: 50px;
    padding: 0px;
    float: right;
    text-decoration: none;
    color: #ffd500;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
    .featuredprojecthomepagepopupmain .featuredprojectlink a:hover {
      color: #fff !important; }
  .featuredprojecthomepagepopupmain .featuredprojectimg {
    width: 431px !important;
    overflow: hidden; }

.featuredprojecthomepagepopupother {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: #1e1e1e;
  width: 386px !important; }
  .featuredprojecthomepagepopupother .featuredprojectimg {
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 112px !important;
    height: 86px !important;
    overflow: hidden;
    display: block; }
  .featuredprojecthomepagepopupother .featuredprojecthomepagepopupotherleftbin {
    position: relative;
    margin: -1px 0px 0px 0px;
    padding: 0px;
    width: 264px;
    float: left; }
  .featuredprojecthomepagepopupother .featuredprojectnamelocation {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 75%; }
  .featuredprojecthomepagepopupother .featuredprojectdescriptionhomeother {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%; }
  .featuredprojecthomepagepopupother .featuredprojectlink a {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #ffd500;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    text-align: left !important;
    font-weight: normal !important;
    float: none !important; }
    .featuredprojecthomepagepopupother .featuredprojectlink a:hover {
      text-decoration: none !important; }

.featuredprojectinteriorfooter {
  position: relative;
  margin: 0px;
  padding: 0px; }
  .featuredprojectinteriorfooter .featuredprojectimg {
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 82px !important;
    height: 47px !important;
    overflow: hidden; }
  .featuredprojectinteriorfooter .featuredprojectinteriorfooterleftbin {
    position: relative;
    margin: -4px 0px 0px 0px;
    padding: 0px;
    float: left; }
  .featuredprojectinteriorfooter .featuredprojectname {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%; }
  .featuredprojectinteriorfooter .featuredprojectlocation {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%; }
  .featuredprojectinteriorfooter .featuredprojectlink a {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #ffd500;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%; }
    .featuredprojectinteriorfooter .featuredprojectlink a:hover {
      text-decoration: none !important; }
  .featuredprojectinteriorfooter .feature-img {
    display: block;
    height: 82px; }
    .featuredprojectinteriorfooter .feature-img img {
      height: 82px; }

/* ///// FEATURED PROJECTS DESIGNER CONTENT BLOCK CODE ///// */
.homepagepopupbin {
  height: 100%;
  width: 925px;
  background-size: cover;
  padding: 0px; }
  .homepagepopupbin .homepagepopuptop p {
    font-size: 85%;
    color: #fff;
    line-height: 1.7;
    width: 845px; }
  .homepagepopupbin h2 {
    font-weight: normal !important;
    font-size: 150% !important;
    margin-bottom: 20px !important; }

div#hppbcontentbin {
  position: relative;
  width: 845px;
  margin: 0 auto;
  text-align: left;
  padding: 0px; }
div#contentbin {
  position: relative;
  width: 980px;
  margin: 0 auto;
  text-align: left;
  padding: 0px; }
div#spacerbin {
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding: 0px; }
div#breadcrumbbin {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75%; }
  div#breadcrumbbin a {
    position: relative;
    padding: 0px;
    margin: 0px;
    color: #ffcd21;
    text-decoration: none;
    text-transform: uppercase; }
    div#breadcrumbbin a:hover {
      text-decoration: underline; }

.ccm-autonav-breadcrumb-sep {
  color: #fff; }

.projectlanding_infobin .ccm-page-list-title {
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important;
  padding: 20px 18px 20px 18px !important; }

#searchFiltersouterbin {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/projectfilter_bkgdimg.jpg);
  background-repeat: repeat;
  height: 60px; }

.sbs_plp_searchFilters {
  position: relative;
  margin: 0px;
  padding: 18px 0px 0px 18px;
  width: 100%;
  float: none !important; }

.sbs_plp_searchFilter label {
  color: #ffcd21;
  font-weight: bold;
  font-size: 105%;
  text-transform: uppercase; }
.sbs_plp_searchFilter select.plp_select {
  padding: 0px 0px 0px 10px;
  height: 25px !important;
  width: 120px;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-bottom: 1px solid #ffcd21 !important;
  background-color: transparent;
  color: #fff !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  border-radius: 0px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  background-image: url(../images/selectbox_arrow.png);
  background-repeat: no-repeat;
  background-position: right 0px top 50%; }
  .sbs_plp_searchFilter select.plp_select option {
    color: #3e3e3e !important; }

.projectlanding_infobin {
  position: relative;
  margin: 0px 5px 20px 5px;
  padding: 15px 0px 25px 0px;
  width: 315px;
  background-image: url(../images/snavbin_bkgdimg.jpg);
  background-repeat: repeat;
  text-align: center;
  float: left; }
  .projectlanding_infobin .project-description img {
    width: 90%;
    height: auto;
    opacity: 1; }
    .projectlanding_infobin .project-description img:hover {
      opacity: 0.8 !important; }

#project-description-img {
  position: relative;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
  overflow: hidden;
  text-align: center; }

.projectlanding_infobin h3 {
  margin-bottom: 10px; }

.project-description {
  position: relative;
  margin: 0 auto;
  padding: 0px; }
  .project-description p {
    color: #fff !important; }

.projectlanding_infobin .ccm-page-list-title a {
  color: #ffcd21 !important;
  text-decoration: none; }
  .projectlanding_infobin .ccm-page-list-title a:hover {
    text-decoration: underline !important; }

/*/// PROJECTS PAGE LIST PLUS STYLES - FULL WIDTH ///*/
.plp_fullwidth {
  position: relative;
  padding: 0px;
  margin: 0px; }
  .plp_fullwidth .projectlanding_infobin {
    position: relative;
    padding: 0px 0px 18px 0px !important;
    margin: 0px 0px 20px 0px;
    width: 980px; }
    .plp_fullwidth .projectlanding_infobin .ccm-page-list-title {
      text-align: left !important; }
  .plp_fullwidth .project-description img {
    width: 200px !important;
    float: left;
    margin-left: 18px; }
  .plp_fullwidth #project-description-img {
    max-height: 150px;
    width: 200px !important;
    float: left;
    overflow: hidden;
    padding-top: 18px !important; }
  .plp_fullwidth .project-desc-scroll {
    float: left;
    text-align: left;
    width: 725px;
    margin: 20px 0px 0px 20px; }
    .plp_fullwidth .project-desc-scroll p {
      font-size: 85%; }
  .plp_fullwidth .projectlanding_infobin .ccm-page-list-title {
    background-color: transparent !important;
    padding: 0px 18px 10px 0px !important; }

/*/// PROJECTS PAGE LIST PLUS STYLES - LEFT SIDEBAR ///*/
.plp_leftsidebar {
  position: relative;
  padding: 0px;
  margin: 0px; }
  .plp_leftsidebar .projectlanding_infobin {
    position: relative;
    padding: 0px 0px 18px 0px !important;
    margin: 0px 0px 20px 0px;
    width: 700px; }
    .plp_leftsidebar .projectlanding_infobin .ccm-page-list-title {
      text-align: left !important; }
  .plp_leftsidebar .project-description img {
    width: 200px !important;
    float: left;
    margin-left: 18px;
    border: 0px !important; }
  .plp_leftsidebar #project-description-img {
    max-height: 200px;
    width: 200px !important;
    float: left;
    overflow: hidden;
    padding-top: 18px !important; }
  .plp_leftsidebar .project-desc-scroll {
    float: left;
    text-align: left;
    width: 460px;
    margin: 20px 0px 0px 20px; }
    .plp_leftsidebar .project-desc-scroll p {
      font-size: 85%; }
  .plp_leftsidebar .projectlanding_infobin h3 {
    margin: 0px !important; }
  .plp_leftsidebar .projectlanding_infobin .ccm-page-list-title {
    background-color: transparent !important;
    padding: 0px 18px 0px 0px !important; }

div#columnbin {
  position: relative;
  padding: 0px;
  margin: 0px;
  float: left; }

.binw0 {
  width: 980px; }

/*USED full width column*/
.binw0a {
  width: 845px; }

/*USED full width column*/
.binw1a {
  width: 416px; }

/*USED homepage popup pages*/
.binw1b {
  width: 483px; }

/*USED homepage popup pages*/
.binw1c {
  width: 373px; }

/*USED homepage popup pages*/
.binw2 {
  width: 315px; }

/*USED footer*/
.binw3 {
  width: 384px; }

/*USED footer*/
.binw4 {
  width: 241px; }

/*USED footer*/
.binw5 {
  width: 238px; }

/*USED interior Sidebar*/
.binw6 {
  width: 642px; }

/*USED interior Header*/
.binw7 {
  width: 698px; }

/*USED interior Main*/
.binw8 {
  width: 340px; }

/*USED interior Main 2 columns*/
div#columndivider {
  padding: 0px;
  margin: 0px;
  float: left; }
div#footerbin {
  position: relative;
  width: 100%;
  margin: 0px;
  text-align: left;
  padding: 0px;
  background-image: url(../images/snavbin_bkgdimg.jpg);
  background-repeat: repeat;
  box-shadow: inset 0px 3px 5px #262626;
  /*Inner elements should not cover inner shadows*/
  /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/ }
  div#footerbin ul {
    position: relative;
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important; }
    div#footerbin ul li {
      position: relative;
      margin: 0px 0px 0px 0px;
      padding: 0px;
      float: left;
      line-height: 42px; }
      div#footerbin ul li a {
        position: relative;
        color: #fff !important;
        font-size: 85%;
        text-decoration: none;
        display: block;
        padding: 0px 0px 0px 24px;
        margin: 0px;
        font-weight: bold; }
        div#footerbin ul li a:hover {
          color: #ffce00 !important; }
div#footerbinhome {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  text-align: left;
  padding: 0px;
  height: 42px;
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important; }
  div#footerbinhome ul {
    position: relative;
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important; }
    div#footerbinhome ul li {
      position: relative;
      margin: 0px 0px 5px 0px;
      padding: 0px;
      float: left;
      line-height: 42px; }
      div#footerbinhome ul li a {
        position: relative;
        color: #fff !important;
        font-size: 85%;
        text-decoration: none;
        display: block;
        padding: 0px 0px 0px 24px;
        margin: 0px;
        font-weight: bold; }
        div#footerbinhome ul li a:hover {
          color: #ffce00 !important; }
div#footerbin p {
  color: #fff;
  font-size: 85%; }
div#footerhomecopyrightbin {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 85%;
  line-height: 42px; }
div#footerhomelinksbin {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px; }
div#footerhomesocialmediabin {
  position: relative;
  float: right;
  padding: 0px;
  margin: -10px 20px 0px 0px; }

/*half width column*/
.homepagesocial {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px; }

#footerbinhome #footerhomesocialmediabin {
  margin-top: 0px !important; }

#socialmail a {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px;
  background-image: url(../images/social_mail.png);
  width: 31px;
  height: 31px; }

#socialfacebook a {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px;
  background-image: url(../images/social_facebook.png);
  width: 31px;
  height: 31px; }

#socialtwitter a {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px;
  background-image: url(../images/social_twitter.png);
  width: 31px;
  height: 31px; }

#sociallinkedin a {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px;
  background-image: url(../images/social_linkedin.png);
  width: 31px;
  height: 31px; }

#socialyoutube a {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px;
  background-image: url(../images/social_youtube.png);
  width: 30px;
  height: 30px; }

#socialmail a:hover {
  background-image: url(../images/social_mail_hover.png);
  width: 31px;
  height: 31px; }

#socialfacebook a:hover {
  background-image: url(../images/social_facebook_hover.png);
  width: 31px;
  height: 31px; }

#socialtwitter a:hover {
  background-image: url(../images/social_twitter_hover.png);
  width: 31px;
  height: 31px; }

#sociallinkedin a:hover {
  background-image: url(../images/social_linkedin_hover.png);
  width: 31px;
  height: 31px; }

#socialyoutube a:hover {
  background-image: url(../images/social_youtube_hover.png);
  width: 30px;
  height: 30px; }

div#footerinteriorlinksbin {
  position: relative;
  width: 100%;
  margin: 0px;
  text-align: left;
  padding: 0px;
  height: 42px;
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important; }
div#footerinteriorlinksinner {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  width: 980px; }

#tothetoplink {
  position: relative;
  margin: 0px;
  padding: 0px;
  float: right; }

#footerbin h3 {
  text-transform: uppercase;
  color: #ffce00 !important; }

.footerquicklinksone {
  width: 122px;
  float: left; }

.footerquicklinkstwo {
  width: 193px;
  float: left; }

.footerquicklinksone ul li, .footerquicklinkstwo ul li {
  float: none !important;
  line-height: 22px !important; }

.footerquicklinksone ul li a, .footerquicklinkstwo ul li a {
  padding-left: 0px !important; }

.top-link {
  position: absolute;
  bottom: -27px;
  right: 0px;
  width: 35px;
  height: 12px;
  background-image: url(../images/toplink.png);
  background-repeat: no-repeat; }
  .top-link:hover {
    background-image: url(../images/toplink_hover.png);
    background-repeat: no-repeat; }

.clear {
  clear: both; }

.floatelement_left {
  float: left;
  padding: 0px;
  margin: 0px; }

.floatelement_right {
  float: right;
  padding: 0px;
  margin: 0px; }

.imagepad_left {
  margin-left: 10px; }

.imagepad_right {
  margin-right: 10px; }

/* LIST ELEMENTS 

div#columnbin ul {
  list-style-image: url(http://www.kiewit.com/themes/kiewit/images/bullet_arrow.gif);
  list-style-type: square;
  margin:0px 0px 12px 18px;
  padding:0px;
}
div#columnbin ul li {
  margin:3px 0px 0px 0px;
  padding:0px;
}
div#columnbin ul li a { 
  color: #0061CE; 
  
}
div#columnbin ul li a:hover {
  color: #ffffff; 
  background: #84BD11;
}

*/
.sitemapbin ul, .interiormainbin ul {
  list-style-image: url(../images/sitemap_button.png);
  list-style-type: square;
  margin: 0px 0px 12px 25px;
  padding: 0px; }

.sitemapbin ul li, .interiormainbin ul li {
  margin: 6px 0px 0px 0px;
  padding: 0px; }

.sitemapbin ul li {
  font-size: 100% !important; }

.interiormainbin ul li {
  color: #3e3e3e;
  font-size: 85%; }

.sitemapbin ul li a {
  color: #d7ac19 !important;
  text-decoration: none;
  font-weight: bold; }
  .sitemapbin ul li a:hover {
    text-decoration: underline; }

.interiormainbin ul li a:hover {
  text-decoration: underline; }

/* ///// TYPOGRAPHY ///// */
P {
  margin: 0px 0px 15px 0px;
  padding: 0px; }

body {
  font-size: 90%;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #222222; }

#maxcontainerbin h1, #maxcontainerbin h2, #maxcontainerbin h3, #maxcontainerbin h4, #maxcontainerbin h5, #maxcontainerbin h6 {
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  color: #333333; }
#maxcontainerbin h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 235%;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold; }
#maxcontainerbin h2 {
  font-size: 180%;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold; }
#maxcontainerbin h3 {
  font-size: 100%;
  font-weight: bold; }
#maxcontainerbin h4 {
  font-size: 85%;
  font-weight: bold;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif; }
#maxcontainerbin h5 {
  font-size: 100%; }
#maxcontainerbin h6 {
  font-size: 70%; }

/* ///// OVERRIDE FOR CONCRETE5 ADMIN FLYOUT WHEN IN EDIT MODE ///// */
#ccm-page-controls-wrapper h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  font-size: 100%;
  color: #333;
  line-height: 1.2;
  margin: 0px 0px 0px -5px;
  padding: 5px; }

.clr_white {
  color: #ffffff !important; }

.clr_ltgray {
  color: #aaa !important; }

.clr_yellow {
  color: #ffcd21 !important; }

.clr_drkyellow {
  color: #d7ac19 !important; }

.clr_black {
  color: #3e3e3e !important; }

.boldfont {
  font-weight: bold !important; }

.uppercasefont {
  text-transform: uppercase; }

.smallerfont {
  font-size: 80% !important; }

a.navbullet {
  margin: 0px;
  padding: 0px 0px 0px 20px;
  background-image: url(../images/nav_arrow.png);
  background-repeat: no-repeat;
  color: #3e3e3e;
  text-decoration: none; }
  a.navbullet:hover {
    color: #676767;
    text-decoration: underline; }

.textlinkwhite {
  color: #fff !important;
  text-decoration: underline; }
  .textlinkwhite:hover {
    text-decoration: none !important; }

.textlinksmyellow {
  color: #d7ac19 !important;
  text-decoration: underline; }
  .textlinksmyellow:hover {
    text-decoration: none !important; }

.textlinkyellow {
  color: #d7ac19 !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  background-image: url(../images/textlinkyellow.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px; }
  .textlinkyellow:hover {
    text-decoration: underline !important; }

.featuredprojectlink {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #ffd500;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 85%; }
  .featuredprojectlink:hover {
    color: #fff !important; }

.sscript {
  position: relative;
  font-size: 50%;
  top: -0.6em; }

.padleft {
  padding-left: 10px !important; }

.padright {
  padding-right: 10px !important; }

.graphicmo {
  padding: 0px;
  margin: 0 0 0 5px; }
  .graphicmo:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 5-7 */
    filter: alpha(opacity=80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8; }

.graphicmo2 {
  padding: 0px;
  margin: 0px; }
  .graphicmo2:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 5-7 */
    filter: alpha(opacity=80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8; }

.yellowbutton {
  color: #3e3e3e;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 20px 9px 20px;
  text-decoration: none;
  background-image: url(../images/yellow_bkgd.png);
  background-repeat: repeat !important; }
  .yellowbutton:hover {
    background-color: #efb901;
    background-color: #efb901 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    /* IE 5-7 */
    filter: alpha(opacity=100) !important; }

.blackbutton {
  color: #ffcd21;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 20px 9px 20px;
  text-decoration: none;
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important; }
  .blackbutton:hover {
    background-color: #282828;
    background-color: #282828;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100); }

.yellowbutton_new {
  position: relative;
  color: #3e3e3e;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 20px 9px 20px;
  text-decoration: none;
  line-height: 30px;
  background-color: #efb901;
  background-color: #efb901;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100); }
  .yellowbutton_new:hover {
    background-color: #efb901;
    background-color: rgba(239, 185, 1, 0.6) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
    /* IE 5-7 */
    filter: alpha(opacity=60) !important;
    color: #fff !important; }

.yellowsidebarbutton {
  color: #3e3e3e;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding: 18px 26px 16px 26px;
  background-image: url(../images/yellowsidebarbtn.jpg);
  background-repeat: repeat;
  display: block;
  text-decoration: none !important;
  text-align: center !important; }
  .yellowsidebarbutton:hover {
    background-image: url(../images/yellowsidebarbtn_over.jpg); }

/*Buttons*/
.button {
  position: relative;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
  padding: 0.6em 1.4em 0.4em 1.4em;
  font-weight: bold;
  font-size: 70%;
  text-decoration: none !important;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  outline: none;
  overflow: visible;
  /* removes extra side padding in IE */
  cursor: pointer;
  border: 1px solid #999;
  /* IE */
  border: rgba(0, 0, 0, 0.2) 1px solid;
  /* Saf4+, Chrome, FF3.6 */
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* FF3.6 */
  background: -webkit-gradient(linear, center bottom, center top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
  /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
  /* IE8 */
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
      user-select: none;
  margin: 0px; }
  .button:hover {
    color: #ffffff;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    /* FF3.6 */
    background: -webkit-gradient(linear, center bottom, center top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
    /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF');
    /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";
    /* IE8 */ }
  .button:active {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  .button.black {
    background-color: #333333; }
  .button.gray {
    background-color: #999999; }
  .button.white {
    background-color: #ffffff;
    color: #000000; }
    .button.white span {
      color: #800080; }
  .button.red {
    background-color: #e62727; }
  .button.orange {
    background-color: #f87d34; }
  .button.magenta {
    background-color: #A9014B; }
  .button.yellow {
    background-color: #ffb515; }
  .button.blue {
    background-color: #0175be; }
  .button.pink {
    background-color: #e22092; }
  .button.green {
    background-color: #6b9702; }
  .button.rosy {
    background-color: #F16C7C; }
  .button.brown {
    background-color: #804000; }
  .button.purple {
    background-color: #7981be; }
  .button.cyan {
    background-color: #46C7C7; }
  .button.gold {
    background-color: #D4A017; }

/*Button Colors*/
.formBlockSubmitButton {
  font-size: 100% !important; }

/* concrete5 submit button styling */
.buttonstyle, .formBlockSubmitButton {
  position: relative;
  color: #3e3e3e;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/yellow_bkgd.png);
  background-repeat: repeat !important;
  padding: 9px 20px 9px 20px;
  text-decoration: none;
  line-height: 1em;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  outline: none;
  overflow: visible;
  /* removes extra side padding in IE */
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
      user-select: none;
  margin: 0px;
  border: 0px !important; }

.buttonstyle:hover, .buttonstyle.hover {
  background-color: #efb901;
  background-color: #efb901;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  color: #3e3e3e; }

.formBlockSubmitButton:hover {
  background-color: #efb901;
  background-color: #efb901;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  color: #3e3e3e; }

.buttonstyle:active, .buttonstyle.active, .buttonstyle:visited, .buttonstyle.visited {
  background-color: #efb901;
  background-color: #efb901;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  color: #3e3e3e; }

/* format tableless form layout */
.miniSurveyView label {
  display: block;
  float: left;
  width: 175px;
  margin: 0px 10px 10px 0px; }
.miniSurveyView input {
  display: block;
  float: left;
  margin-bottom: 20px !important; }
.miniSurveyView [type="text"], .miniSurveyView [type="tel"], .miniSurveyView [type="email"] {
  width: 352px;
  height: 30px;
  border: 2px solid #efb901; }
.miniSurveyView select {
  width: 352px !important;
  height: 30px !important;
  background-color: #fff !important;
  background: #fff !important;
  border: 2px solid #efb901 !important;
  margin-bottom: 20px !important; }
.miniSurveyView textarea {
  width: 342px;
  height: 120px;
  margin-bottom: 20px !important;
  padding: 6px;
  border: 2px solid #efb901; }

label[for="captcha"] {
  margin-left: 202px !important;
  width: 350px; }

.captcha {
  position: relative;
  padding-top: 25px !important;
  border-top: 2px dotted #ccc; }

.radioPair label {
  display: block;
  float: left;
  width: auto;
  margin: 0px 15px 0px 0px; }

.errors {
  position: relative;
  width: 100%;
  color: #ffc;
  background-color: #990000;
  padding: 0px;
  margin-bottom: 25px;
  text-align: center; }

.errorinner {
  position: relative;
  width: 90%;
  color: #ffc;
  background-color: #990000;
  padding: 15px 0px 15px 0px !important;
  margin: 0 auto;
  text-align: left; }

.error {
  color: #fff;
  font-weight: bold; }

/* pagination styling */
.ccm-pagination {
  color: #999 !important; }
  .ccm-pagination a {
    background-color: #333333 !important;
    color: #fff !important;
    text-decoration: none !important;
    padding: 1px 5px 1px 5px;
    margin: 0px 1px 0px 1px;
    font-weight: bold !important; }
    .ccm-pagination a:hover {
      background-color: #666666 !important;
      color: #fff !important;
      text-decoration: none !important;
      padding: 1px 5px 1px 5px;
      margin: 0px 1px 0px 1px;
      font-weight: bold !important; }

.currentPage {
  background-color: #ffcd21 !important;
  color: #fff !important;
  padding: 1px 5px 1px 5px;
  margin: 0px 5px 0px 0px; }

.ccm-page-left a, .ccm-page-right a {
  color: #333 !important;
  background-color: transparent !important;
  text-decoration: underline !important; }

.ccm-page-left a:hover, .ccm-page-right a:hover {
  background-color: transparent !important;
  color: #666666 !important; }

.modal {
  display: none;
  height: 700px;
  width: 980px;
  background: #ffd300;
  padding: 0px;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000; }

/* 
.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(http://www.kiewit.com/themes/kiewit/spinner.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
 */
.content-wrapper {
  float: right; }

#modal-content {
  border: 0;
  width: 925px;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  clear: both;
  background-color: #1e1e1e; }

#modal-nav {
  float: left;
  width: 54px;
  background: #ffd300; }

/* active / inactive stuff */
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #ffd300;
  border: thin solid gray;
  border-radius: 10px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d; }

/*///// LOGIN PAGE STYLES /////*/
#loginbin {
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 438px !important;
  text-align: left;
  background-image: url(../images/snavbin_bkgdimg.jpg) !important;
  background-repeat: repeat; }
  #loginbin fieldset {
    border: 0px !important;
    padding: 0px 0px 0px 25px; }
  #loginbin .page-header {
    padding: 0px 0px 20px 0px !important;
    margin: 0 auto !important; }
    #loginbin .page-header h1 {
      color: #ffcd21; }
    #loginbin .page-header .snavbinheader {
      color: #ffcd21 !important; }
  #loginbin .ccm-input-text {
    width: 361px;
    height: 34px;
    padding-left: 11px;
    margin-top: 3px;
    background-color: #fff !important;
    border: 0px !important; }
  #loginbin .ccm-input-submit {
    margin-left: 25px; }
  #loginbin .control-group label {
    color: #fff; }
  #loginbin .yellowbutton {
    border: 0px !important;
    font-size: 100% !important;
    cursor: pointer;
    color: #fff !important; }
  #loginbin .control-group {
    margin: 20px 0px 0px 0px !important; }

#footerinfo {
  text-align: center; }

#loginbin .lostpassword {
  width: 331px; }
#loginbin .lostpasswordbtn {
  margin-left: -15px !important; }
  #loginbin .lostpasswordbtn .ccm-input-submit {
    margin: 26px 0px 0px 15px !important; }

#logobinlogin {
  margin: 0 auto;
  text-align: center;
  margin: 25px 0px 12px 0px; }

#loginfooter {
  height: 40px; }

#footerinfo {
  margin-top: 35px; }

.ccm-error {
  color: #fff !important;
  background-color: #bf2e1a;
  text-align: center;
  width: 348px !important;
  margin: 0px 0px 30px 40px !important;
  list-style: none !important;
  font-weight: 400 !important;
  padding: 0px 0px 0px 0px !important;
  line-height: 34px; }

.ccm-ui .actions {
  border: 0px !important;
  background-color: #fff !important; }

::-moz-selection {
  background: #ffcd21 !important;
  /* Safari */
  color: #fff; }

::selection {
  background: #ffcd21 !important;
  /* Safari */
  color: #fff; }

::-moz-selection {
  background: #ffcd21 !important;
  /* Firefox */
  color: #fff; }

.igc_locationsbin {
  position: relative;
  margin: 0px 6px 13px 6px;
  padding: 0px;
  width: 314px;
  height: 250px;
  background-image: url(../images/snavbin_bkgdimg.jpg);
  background-repeat: repeat;
  float: left; }

.igc_locations_company {
  padding: 18px 26px 15px 26px;
  color: #ffcd21;
  font-size: 105%;
  margin: 0px 0px 13px 0px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  background-image: url(../images/black_bkgd.png);
  background-repeat: repeat !important; }

.igc_locationsbin_inner {
  position: relative;
  margin: 0px;
  padding: 0px 18px 25px 26px;
  color: #fff;
  font-size: 85%; }

.igc_locationsbin a {
  text-decoration: none;
  color: #ffcd21; }
  .igc_locationsbin a:hover {
    text-decoration: underline; }

.igc_locations_category {
  display: none; }

.igc_locations_link a {
  font-size: 105%;
  font-weight: bold; }

.mobileonly, .tabletonly {
  display: none; }

.nomobile, .notablet {
  display: block; }

.homepagephoneonly, .homepagetabletonly {
  display: none; }

.accordioncontentbin {
  position: relative;
  margin: 0px;
  padding: 0px; }

.accordionheading {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: auto;
  height: 56px;
  line-height: 56px;
  cursor: pointer;
  color: #ffce00 !important;
  font-weight: bold;
  text-transform: uppercase; }

.accordioninfo {
  background-color: rgba(0, 0, 0, 0.05);
  width: auto;
  padding: 20px 0px 20px 0px;
  height: auto !important;
  display: none;
  text-align: center; }

/*///// BUSINESS WITH US DBE PROJECT STYLES /////*/
#dbe-items h3 {
  background-image: url(../images/yellowsidebar_bkgdimg.jpg);
  background-repeat: repeat !important;
  display: block;
  margin: 0 !important;
  padding: 0 !important; }
  #dbe-items h3 a {
    position: relative;
    padding: 18px 26px 15px 26px !important;
    color: #3e3e3e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 105%;
    background-image: url(../images/yellow_bkgd.png);
    background-repeat: repeat !important;
    display: block; }
#dbe-items .ccm-page-list-description {
  position: relative;
  margin: 0px 0px 22px 0;
  padding: 15px 22px 15px 26px;
  font-size: 85%;
  background-image: url(../images/yellowsidebar_bkgdimg.jpg);
  background-repeat: repeat !important; }

.buildingserviceslinks a img:hover, .buildingserviceslinks a:hover {
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
  /*-ms-filter must come before filter*/
  filter: alpha(opacity=80);
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*All filters must be placed together*/ }

#homepageawards {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  #homepageawards ul {
    display: block;
    position: absolute;
    bottom: 100px;
    right: 60px;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #homepageawards li {
    margin: 0 20px 0 0;
    background: #fff;
    width: 150px;
    height: 150px;
    line-height: 150px;
    float: left; }
  #homepageawards img {
    margin: 0 auto;
    vertical-align: middle; }

#alert {
  clear: both;
  float: left;
  border: 1px #ff0000 solid;
  background-color: #ffcccc;
  padding: 10px 10px 0px 10px;
  margin-bottom: 1em;
  width: 100%; }
  #alert h3 {
    text-transform: uppercase;
    margin: 0 0 20px 0; }
  #alert p {
    margin: 0 0 20px 0; }
  #alert a {
    color: #000;
    text-decoration: underline;
    font-weight: bold; }

/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 1024px) {
  #homemarketslinkbin {
    position: absolute !important;
    top: 116px;
    left: 0px;
    background-color: #fed501 !important;
    height: 140px !important; }

  .homemarketslink a {
    text-decoration: none; }
    .homemarketslink a span {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-weight: normal;
      color: #000; }

  .tabletonly {
    display: block !important; }

  .notablet {
    display: none !important; }

  .homepagetabletonly {
    display: block !important; }

  .homepagephoneonly, #homepageawards {
    display: none; }
 }

@media only screen and (max-width: 770px) {
  #header-image {
    height: 450px !important; }

  div#maxcontainerbin {
    background-color: #fff; }

  body {
    background-image: url(../images/snavbin_bkgdimg.jpg);
    background-repeat: repeat; }

  #button {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer; }

  #menu {
    display: inline; }

  #right {
    display: inline;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%; }

  .nav_mobilesidebin {
    overflow: scroll;
    position: fixed;
    right: 0px;
    height: 100%;
    width: 200px;
    margin: 0px !important; }
    .nav_mobilesidebin ul {
      margin: 0px !important;
      padding-left: 0px !important; }
    .nav_mobilesidebin .ccm-block-styles {
      position: relative; }

  #menu {
    position: absolute;
    top: 0px;
    right: 0px; }

  ul.nav_mobileside {
    margin: 0px !important;
    padding: 0px 0px 0px 0px !important;
    width: 200px; }

  .nav_mobilesidebin li {
    position: relative;
    list-style: none;
    color: #fff;
    text-align: left;
    padding: 0px 0px 0px 0px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #000; }
    .nav_mobilesidebin li a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 100%;
      text-transform: uppercase;
      display: block;
      border-bottom: 1px solid #000;
      padding-left: 15px !important;
      padding-top: 12px;
      padding-bottom: 10px;
      background-image: url(../images/black_bkgd.png);
      background-repeat: repeat; }
    .nav_mobilesidebin li ul {
      padding-left: 0px !important;
      border-top: 1px solid #666; }
      .nav_mobilesidebin li ul li {
        border: 0px !important; }
        .nav_mobilesidebin li ul li a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          font-size: 90%;
          text-transform: none;
          background-image: none !important;
          border: 0px !important;
          padding-top: 4px !important;
          padding-bottom: 4px !important; }
        .nav_mobilesidebin li ul li ul {
          border: 0px !important;
          padding-left: 40px !important; }
          .nav_mobilesidebin li ul li ul li {
            list-style: circle !important;
            margin-left: 10px !important; }
            .nav_mobilesidebin li ul li ul li a {
              font-weight: normal !important;
              padding-left: 0px !important; }
    .nav_mobilesidebin li a.current-menu-item, .nav_mobilesidebin li a.current-menu-item, .nav_mobilesidebin li a:hover {
      color: #ffd300 !important; }

  #maxcontainerbin {
    box-shadow: -2px 0px 18px 1px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = -2, direction = 90, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = -2, Direction = 90, Color = '#000000')"; }

  .nav_mobilesidebin::-webkit-scrollbar, .nav_mobilesidebin::-webkit-scrollbar-button {
    width: 0px !important;
    height: 0px !important; }
  .nav_mobilesidebin::-webkit-scrollbar-track {
    background: none;
    border: 0px;
    box-shadow: 0px;
    border-radius: 0px; }
  .nav_mobilesidebin ::-webkit-scrollbar-thumb {
    background: none;
    border: 0px;
    border-radius: 0px; }
    .nav_mobilesidebin ::-webkit-scrollbar-thumb:hover {
      background: none; }
  .nav_mobilesidebin li a:hover {
    color: #fff; }

  /* auto size images */
  img {
    max-width: 100%;
    height: auto !important; }

  .nomobile {
    display: none !important; }

  .mobileonly {
    display: block; }

  .tabletonly {
    display: none !important; }

  .featuredprojectinteriorfooter {
    margin-bottom: 20px; }

  /* video scale controls - NOTES: make sure to 
    assign fluid-media class to divs on the site
    that encapsulate the videos you want scaled */
  audio[controls], canvas {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100% !important;
    height: auto !important; }

  .fluid-media {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 15px; }
    .fluid-media iframe, .fluid-media object, .fluid-media embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

  .vimeo-area, .youtubeBlock {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 15px; }

  .vimeo-area iframe, .vimeo-area object, .vimeo-area embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .youtubeBlock iframe, .youtubeBlock object, .youtubeBlock embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  /* Make everything vertical and unfloated */
  #maxcontainerbin {
    float: none !important;
    width: auto !important; }

  #containerbin, #contentbin {
    width: 100% !important; }

  div#columnbin {
    padding: 0px 20px 0px 20px !important;
    float: none; }

  .verticaldivider {
    background-image: url(../images/fill.gif);
    background-repeat: repeat-y; }

  #logobin {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    width: 80% !important;
    height: auto !important;
    margin: 0 auto !important;
    padding: 0px 0px 0px 0px !important; }

  .top-link, .nomobile {
    display: none !important; }

  .mobileonly {
    display: block !important; }

  .tabletonly {
    display: none !important; }

  .binw0, .binw1 {
    width: auto;
    margin-top: 25px !important; }

  /*full width column*/
  /*half width column*/
  .binw2 {
    width: auto;
    text-align: center !important;
    margin-bottom: 40px !important; }

  /*third width column*/
  .binw3, .binw4 {
    width: auto;
    text-align: center !important;
    margin-top: 25px !important; }

  /*narrow columns for footer*/
  /*wide column for footer*/
  .binw5 {
    width: auto; }

  /*nav column*/
  .binw6, .binw7 {
    width: auto;
    margin-top: 25px !important; }

  /*2 col span*/
  /*dual content columns*/
  .dividerbin {
    height: 2px;
    overflow: hidden;
    margin-bottom: 35px !important; }

  /* format tableless form layout */
  .miniSurveyView label {
    float: none !important;
    width: 100% !important; }
  .miniSurveyView input {
    float: none !important; }
  .miniSurveyView [type="text"], .miniSurveyView [type="tel"], .miniSurveyView [type="email"] {
    width: 100% !important;
    height: 30px; }
  .miniSurveyView select {
    width: 100% !important;
    height: 30px !important; }
  .miniSurveyView textarea {
    width: 100% !important;
    height: 120px;
    margin-bottom: 20px !important; }

  .captcha {
    position: relative;
    padding-top: 25px !important;
    border-top: 2px dotted #ccc; }

  .radioPair label {
    display: block;
    float: left !important;
    width: auto !important;
    margin: 0px 15px 15px 0px; }
  .radioPair input {
    display: block;
    float: left !important;
    width: auto !important; }

  .interiorpageheaderbin {
    width: 90% !important; }

  div#footerinteriorlinksinner {
    width: 100% !important; }

  #breadcrumbbin, .interiorpagequote {
    display: none; }

  #footerhomecopyrightbin {
    float: none !important;
    padding-left: 24px !important; }

  #footerinteriorlinksbin {
    height: auto !important;
    background-image: url(../images/fill.gif);
    background-color: #000; }

  /*.featuredprojectinteriorfooter .featuredprojectimg {float:none !important; margin:0 auto !important;}
     .featuredprojectinteriorfooterleftbin {float:none !important; margin-top:0px !important; margin-bottom:10px !important;}*/
  .featuredprojectinteriorfooterleftbin {
    text-align: left; }

  .mobileonly ul li {
    float: none !important; }
    .mobileonly ul li a {
      float: none !important;
      padding-left: 0px; }

  .yellowsidebarcontent img {
    display: none !important; }

  .searchfield_searchpage {
    width: auto; }

  #navbarbin {
    float: none !important; }
    #navbarbin.mobileonly {
      width: 100% !important;
      z-index: 1000; }

  .mobileonly select#mobilegoto {
    background-color: #ffce00 !important;
    width: 100% !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border: 0px;
    color: #000;
    height: 40px;
    font-size: 120%;
    margin: 0px !important;
    padding: 0px 0px 0px 25px !important;
    border-radius: 0px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/ }

  .navheader {
    position: relative;
    padding: 5px 0px 3px 0px;
    margin: 0px;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    width: 100%;
    background-color: #000;
    color: #fff; }

  .plp_leftsidebar .projectlanding_infobin {
    width: 100% !important; }
  .plp_leftsidebar .project-desc-scroll {
    width: 90% !important; }

  iframe {
    width: 100% !important; }

  .homepagelogo {
    float: none !important; }

  .igc_billboard_item {
    display: block;
    background-image: url(../images/black_bkgd_billboard.png);
    background-repeat: repeat !important; }

  .homeslidepieces {
    background: none !important;
    position: absolute !important;
    left: 0px !important;
    top: 440px; }

  .footeraccordions {
    position: relative;
    width: 100% !important;
    padding: 0px;
    margin: 620px 0px 0px 0px;
    background-image: url(../images/snavbin_bkgdimg.jpg);
    background-repeat: repeat;
    box-shadow: inset 0px 3px 5px #262626; }
    .footeraccordions ul {
      position: relative;
      list-style: none !important;
      margin: 0px !important;
      padding: 0px !important; }
      .footeraccordions ul li a {
        position: relative;
        color: #fff !important;
        font-size: 85%;
        text-decoration: none;
        display: block;
        padding: 8px 0px;
        margin: 0px;
        font-weight: bold; }

  div#footerbinhome {
    position: relative;
    height: auto !important;
    text-align: center; }

  .homemarketslinkbin-hdr {
    position: relative;
    padding: 5px 0px;
    margin: 0px;
    background-color: #000;
    text-align: center;
    font-weight: bold;
    color: #fff; }

  #homemarketslinkbin {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    background: none !important;
    background-color: #fed501 !important;
    height: 290px !important;
    margin: 0px 0px 10px 0px !important; }

  .homemarketslink {
    position: relative;
    margin: 0px !important;
    width: 33% !important;
    background-color: #fed501 !important;
    float: left !important; }
    .homemarketslink a {
      position: relative;
      text-align: center;
      margin: 0px !important;
      background-repeat: no-repeat !important;
      background-position: center center;
      width: 100% !important;
      text-decoration: none; }
      .homemarketslink a span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-weight: normal;
        color: #000; }

  #homepagearrows {
    display: none !important; }

  #homemarketsbuilding, #homemarketsmining, #homemarketsoil, #homemarketspower, #homemarketstransportation, #homemarketswater {
    width: 100% !important; }

  #footerbinhome {
    background-color: #000 !important; }

  #searchbin {
    z-index: 1000; }

  #footerhomesocialmediabin {
    float: none !important;
    margin: 0 auto !important;
    display: none; }

  .mgn-b--15 {
    margin-bottom: -15px !important; }

  #footerinteriorlinksbin {
    padding-bottom: 20px !important; }

  .ccm-page-right, .ccm-page-left {
    display: none; }

  .ccm-pagination a, .currentPage {
    font-size: 150%;
    padding: 5px 8px; }

  div#snavbin ul li {
    width: 100%; }

  #maxcontainerbin h1 {
    font-size: 140% !important; }

  /* TMP Careers Mobile Site Integration */
  #page {
    width: 100%;
    max-width: 640px;
    padding: 0;
    position: relative; }
    #page h1 {
      font-size: 3.15em;
      font-weight: bold;
      color: #ffcd10;
      padding: 0;
      margin: 10px 0;
      display: inline-block;
      text-indent: -9999px;
      height: 28px; }
    #page.who-we-are h1 {
      background: url(../images/h-who-we-are.png) top left no-repeat;
      width: 199px; }
    #page.leadership h1 {
      background: url(../images/h-leadership.png) top left no-repeat;
      width: 179px; }
    #page.history h1 {
      background: url(../images/h-history.png) top left no-repeat;
      width: 128px; }
    #page.values h1 {
      background: url(../images/h-values.png) top left no-repeat;
      width: 112px; }
    #page.how-we-operate h1 {
      background: url(../images/h-how-we-operate.png) top left no-repeat;
      width: 271px; }
    #page.awards h1 {
      background: url(../images/h-awards.png) top left no-repeat;
      width: 129px; }
    #page.why-work-here h1 {
      background: url(../images/h-why-work-here.png) top left no-repeat;
      width: 276px; }
    #page.employee-owned h1 {
      background: url(../images/h-employee-owned.png) top left no-repeat;
      width: 271px; }
    #page.culture h1 {
      background: url(../images/h-culture.png) top left no-repeat;
      width: 130px; }
    #page.people-video-library h1 {
      background: url(../images/h-employee-thoughts.png) top left no-repeat;
      width: 322px; }
    #page.benefits h1 {
      background: url(../images/h-benefits.png) top left no-repeat;
      width: 138px; }
    #page.community h1 {
      background: url(../images/h-community.png) top left no-repeat;
      width: 185px; }
    #page.relocation-and-assistance h1 {
      background: url(../images/h-relocation-and-assistance.png) top left no-repeat;
      width: 378px; }
    #page.who-we-hire h1 {
      background: url(../images/h-who-we-hire.png) top left no-repeat;
      width: 206px; }
    #page.experienced h1 {
      background: url(../images/h-experienced.png) top left no-repeat;
      width: 294px; }
    #page.skilled-craft h1 {
      background: url(../images/h-skilled-craft.png) top left no-repeat;
      width: 227px; }
    #page.new-grad h1 {
      background: url(../images/h-new-grad.png) top left no-repeat;
      width: 161px; }
    #page.intern-co-op h1 {
      background: url(../images/h-intern-co-op.png) top left no-repeat;
      width: 334px; }
    #page.where-do-you-fit h1 {
      background: url(../images/h-where-do-you-fit.png) top left no-repeat;
      width: 300px; }
    #page.what-you-will-work-on h1 {
      background: url(../images/h-what-you-will-work-on.png) top left no-repeat;
      width: 354px; }
    #page.markets h1 {
      background: url(../images/h-markets.png) top left no-repeat;
      width: 145px; }
    #page.project-gallery h1 {
      background: url(../images/h-project-gallery.png) top left no-repeat;
      width: 267px; }
    #page.how-you-will-grow h1 {
      background: url(../images/h-how-you-will-grow.png) top left no-repeat;
      width: 281px; }
    #page.kiewit-university h1 {
      background: url(../images/h-kiewit-university.png) top left no-repeat;
      width: 292px; }
    #page.career-development h1 {
      background: url(../images/h-career-development.png) top left no-repeat;
      width: 339px; }
    #page.find-your-job h1 {
      background: url(../images/h-find-your-job.png) top left no-repeat;
      width: 220px; }
    #page.recruiting-process h1 {
      background: url(../images/h-recruiting-process.png) top left no-repeat;
      width: 321px; }

  .article {
    text-align: left;
    /*padding:0 30px;*/
    margin: 0;
    float: left;
    position: relative; }
    .article img {
      border: 1px solid #000;
      width: 100%; }
    .article p {
      font-size: 1.5em !important;
      color: #fff;
      padding: 0;
      margin: 0;
      line-height: 28px;
      font-weight: bold; }

  ul#primary-nav {
    padding: 0;
    margin: 30px 0 0 0;
    text-align: left;
    list-style: none; }
    ul#primary-nav li {
      font-size: 11px;
      font-weight: normal;
      color: #474243;
      padding: 0;
      margin: 0 0 40px 0;
      line-height: 16px; }
      ul#primary-nav li h2 {
        text-transform: uppercase;
        font-size: 1.6em;
        /* 20p x */
        padding: 0;
        margin: 5px 0;
        color: #ffcd10;
        display: block;
        font-weight: bold; }
      ul#primary-nav li p {
        padding-right: 18%; }

  a.btn-more:link, a.btn-more:active, a.btn-more:visited {
    font-size: 20px;
    font-weight: bold;
    color: #ffcd10;
    padding: 0 25px 0 0;
    margin: 0;
    text-decoration: none;
    background: url(../images/arrow-#FFCD10.png) 65px 3px no-repeat;
    display: inline-block;
    text-transform: uppercase;
    float: right !important; }

  #mobile-careers-nav {
    position: relative;
    margin: 0px;
    background-image: url('../images/snavbin_bkgdimg.jpg');
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif; }
    #mobile-careers-nav ul {
      list-style-type: none;
      margin: 20px 0; }
      #mobile-careers-nav ul li {
        padding: 0 0 0 30px; }
        #mobile-careers-nav ul li:hover {
          color: #3e3e3e !important;
          background-color: #ffcd21;
          line-height: 1.3;
          font-weight: bold; }
        #mobile-careers-nav ul li a {
          position: relative;
          color: #fff;
          text-decoration: none;
          margin: 0px;
          padding: 8px 15px 7px 27px;
          font-size: 80%;
          line-height: 1.3;
          font-weight: bold;
          display: block; }
        #mobile-careers-nav ul li:hover {
          color: #3e3e3e !important;
          background-color: #ffcd21;
          line-height: 1.3;
          font-weight: bold; }

  #who-we-are h1 {
    background: url(../images/h-who-we-are.png) top left no-repeat;
    width: 199px; }

  .nophone {
    float: left !important;
    width: 40%;
    text-align: left !important; }

  .nophonedisplay {
    display: block; }

  .notabletportrait {
    display: none !important; }

  .featuredprojectinteriorfooterleftbin {
    width: 180px; }

  .yellowsidebarbin {
    display: none; }

  .homepagephoneonly {
    display: none !important; }

  .homepagetabletonly {
    display: block !important; }

  #homepageawards {
    display: none; }
 }

@media only screen and (max-width: 600px) {
  #header-image {
    height: 315px !important; }

  #homemarketslinkbin {
    margin: 85px 0px 10px 0px !important; }

  .footeraccordions {
    margin: 518px 0px 0px 0px !important; }

  .homeslidepieces {
    top: 215px !important; }

  .nophone, .nophonedisplay, .notabletportrait {
    display: none !important; }

  #columndivider {
    display: none; }

  #footerhomecopyrightbin {
    text-align: center; }

  #footerhomelinksbin {
    float: none !important;
    margin: 0 auto !important;
    padding-bottom: 15px !important; }
    #footerhomelinksbin ul li {
      float: none !important;
      margin: 0 auto !important;
      line-height: 30px !important;
      text-align: center !important; }

  #footerinteriorlinksinner ul li {
    float: none !important;
    margin: 0 auto !important;
    line-height: 30px !important;
    text-align: center !important; }

  #footerhomelinksbin ul li a, #footerinteriorlinksinner ul li a {
    padding: 0px !important; }

  .homepagephoneonly {
    display: block !important; }

  .homepagetabletonly, .igc_billboard_item {
    display: none !important; }

  #homepageawards {
    display: none; }
 }

/* clearfix */
.clearfix:before {
  display: table;
  content: ""; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.clear {
  clear: both; }

.clearfix {
  *zoom: 1; }

.project-description .feature-img {
  display: block;
  width: 200px;
  height: 141px; }
  .project-description .feature-img img {
    width: 200px;
    height: 141px; }

.view-article {
  display: none; }
